on boot
    # for wifi driver built in
    chown wifi wifi /proc/wifi_built_in/wifi_start
    chown system system /proc/wifi_built_in/mac_addr_hw
    chown system system /proc/wifi_built_in/debug_level_hw
    # NFC local data and nfcee xml storage
    mkdir /data/nfc 0770 nfc nfc
    mkdir /data/nfc/param 0770 nfc nfc

    setprop ro.nfc.port "I2C"
    chmod 0660 /dev/pn544
    chown nfc nfc /dev/pn544

    chown nfc nfc /sys/nfc/nfc_fwupdate
    chmod 0664 /sys/nfc/nfc_fwupdate
    chown nfc nfc /sys/nfc/nxp_config_name
    chmod 0664 /sys/nfc/nxp_config_name
    chown nfc nfc /sys/nfc/nfc_brcm_conf_name
    chmod 0664 /sys/nfc/nfc_brcm_conf_name
    chown nfc nfc /sys/nfc/nfc_sim_switch
    chmod 0664 /sys/nfc/nfc_sim_switch
    chown nfc nfc /sys/nfc/nfc_sim_status
    chmod 0444 /sys/nfc/nfc_sim_status
    chown nfc nfc /sys/nfc/rd_nfc_sim_status
    chmod 0444 /sys/nfc/rd_nfc_sim_status
    chown nfc nfc /sys/nfc/nfc_enable_status
    chmod 0664 /sys/nfc/nfc_enable_status
    chown nfc nfc /sys/nfc/nfc_card_num
    chmod 0444 /sys/nfc/nfc_card_num
    chown nfc nfc /sys/nfc/nfc_chip_type
    chmod 0444 /sys/nfc/nfc_chip_type
    chown nfc nfc /sys/nfc/nfc_hal_dmd
    chmod 0664 /sys/nfc/nfc_hal_dmd
    chown nfc nfc /sys/nfc/nfc_single_channel
    chmod 0444 /sys/nfc/nfc_single_channel
    chmod 777 /vendor/bin/fusion_daemon

# for LBS
service fusd /vendor/bin/fusion_daemon
    class late_start
    user system
    group system root wakelock

on post-fs-data
    # ttach selinux tag
    restorecon_recursive /data/misc/wifi

service fmhal_service /system/bin/fmhal_service
    class late_start
    user bluetooth
    group bluetooth net_bt_admin
    disabled

service wlan_detect /vendor/bin/wlan_detect
    class main
    user root
    group root
    oneshot

service wifi_address /vendor/bin/wifi_address
    class late_start
    user root
    group root
    oneshot

service ftmdaemon /system/vendor/bin/ftmdaemon
    class late_start
    user root
    group bluetooth net_bt_admin misc diag net_bt
    seclabel u:r:mmi:s0
    disabled
    oneshot

on post-fs-data
#add for wifi
    chown wifi wifi /data/misc/wifi/p2p_supplicant.conf
    chown wifi wifi /data/misc/wifi/wpa_supplicant.conf
    chown wifi wifi /data/misc/wifi/hostapd.conf
    chown wifi wifi /data/misc/wifi/hostapd.accept
    chown wifi wifi /data/misc/wifi/hostapd.deny
    chmod 0660 /data/misc/wifi/hostapd.conf
    chmod 0660 /data/misc/wifi/hostapd.accept
    chmod 0660 /data/misc/wifi/hostapd.deny
    chmod 0660 /data/misc/wifi/p2p_supplicant.conf
    chmod 0660 /data/misc/wifi/wpa_supplicant.conf
    #add for wapi certificate
    mkdir /data/wapi_certificate
    chmod 0770 /data/wapi_certificate
    chown system wifi /data/wapi_certificate
    restorecon_recursive /data/wapi_certificate

#add for bluetooth
on property:bluetooth.log.file.create=true
    mkdir /data/log/bt
    chown bluetooth bluetooth /data/log/bt
    chmod 775 /data/log/bt
    setprop bluetooth.log.file.create false

on property:init.svc.hostapd=stopped
     chown wifi wifi /data/misc/wifi/hostapd.conf
     chown wifi wifi /data/misc/wifi/hostapd.accept
     chown wifi wifi /data/misc/wifi/hostapd.deny
     chmod 0660 /data/misc/wifi/hostapd.conf
     chmod 0660 /data/misc/wifi/hostapd.accept
     chmod 0660 /data/misc/wifi/hostapd.deny

service macaddr /vendor/bin/mac_addr_normalization
    class late_start
    user root
    group root bluetooth wifi
    oneshot

service cnss_diag /system/vendor/bin/cnss_diag -q -f
    class main
    user system
    group system wifi inet net_admin sdcard_rw media_rw diag
    oneshot

on post-fs
    chmod 755 /venodor/bin/wifi_driver_init

service wifi_driver_init /vendor/bin/wifi_driver_init
    class late_start
    user root
    group root wifi system
    oneshot
    disabled

on property:wlan.driver.wcnss_service.state=running
    start wifi_driver_init

on property:wlan.driver.trigger=start
    write /proc/wifi_built_in/wifi_start start

on property:wlan.driver.trigger=stop
    write /proc/wifi_built_in/wifi_start stop

# for LBS
on property:service.lbs.start=1
    start fusd
