service fingerprint_log  /vendor/bin/fingerprint_log
    class late_start
    user system
    group system
    oneshot
    disabled
    writepid /dev/cpuset/system-background/tasks /dev/cpuctl/tasks /dev/blkio/system-background/tasks

service fingerprintd /system/bin/fingerprintd
    class late_start
    user system
    group input

on boot
#add for fingerprint
    chmod  0660  /dev/fingerprint
    chown  system  system  /dev/fingerprint
    chmod  0660  /sys/devices/platform/fingerprint/irq
    chown  system  system  /sys/devices/platform/fingerprint/irq
    chmod  0660  /sys/devices/platform/fingerprint/result
    chown  system  system  /sys/devices/platform/fingerprint/result
    chown  system  system  /sys/devices/platform/fingerprint/fingerprint_chip_info
    chmod  0660  /sys/devices/platform/fingerprint/read_image_flag
    chown  system  system  /sys/devices/platform/fingerprint/read_image_flag
    chmod  0660  /sys/devices/platform/fingerprint/nav
    chown  system  system  /sys/devices/platform/fingerprint/nav
    chmod  0660  /sys/devices/platform/fingerprint/module_id
    chown  system  system  /sys/devices/platform/fingerprint/module_id
    chown system system /sys/set_app_info/set_app_info_node
	chown system system /sys/class/android_usb/android0/switch_request
    chmod 0664 /sys/class/android_usb/android0/switch_request
    # change the limition below for sensor-hub
    chown system system /sys/devices/soc0/huawei_product
    chmod 0664 /sys/devices/soc0/huawei_product
    chown system system /sys/devices/platform/huawei_tp_color/tp_color_info
    chmod 0664 /sys/devices/platform/huawei_tp_color/tp_color_info


    chown system system /sys/devices/platform/huawei_ts_kit_color/ts_kit_color_info
    chown system system /sys/touchscreen/glove_func/signal_disparity
    chown system system /sys/touchscreen/holster_touch_window
    chown system system /sys/touchscreen/touch_chip_info
    chown system system /sys/touchscreen/calibrate
    chown system system /sys/touchscreen/calibrate_wakeup_gesture
    chown system system /sys/touchscreen/touch_glove
    chown system system /sys/touchscreen/touch_sensitivity
    chown system system /sys/touchscreen/hand_detect
    chown system system /sys/touchscreen/supported_func_indicater
    chown system system /sys/touchscreen/touch_window
    chown system system /sys/touchscreen/easy_wakeup_gesture
    chown system system /sys/touchscreen/wakeup_gesture_enable
    chown system system /sys/touchscreen/touch_dsm_debug
    chown system system /sys/touchscreen/easy_wakeup_control
    chown system system /sys/touchscreen/easy_wakeup_position
    chown system system /sys/touchscreen/touch_register_operation
    chown system system /sys/touchscreen/tp_capacitance_test_type
    chown system system /sys/touchscreen/touch_rawdata_debug
    chown system system /sys/touchscreen/touch_wideth
    chown system system /sys/touchscreen/roi_enable
    chown system system /sys/touchscreen/roi_data
    chown system system /sys/touchscreen/roi_data_debug
    chown system system /sys/touchscreen/touch_tui_enable
    chown system system /sys/touchscreen/touch_oem_info
    chown system system /sys/touchscreen/calibration_info
    chown system system /sys/touchscreen/tp_capacitance_test_config

    chown system system /sys/devices/12c.hw-dev-detect/dev_flag

    chown system system /dev/deviceboxID
    chmod 0660 /dev/deviceboxID
    chown system system /dev/tas_calib
    chmod 0660 /dev/tas_calib

on post-fs-data
    chown system system /sys/devices/platform/huawei_touch/roi_data
    chown system system /sys/devices/platform/huawei_touch/roi_enable
    chown system system /sys/devices/platform/huawei_touch/roi_data_debug
    chown system system /sys/devices/platform/huawei_touch/touch_chip_info
    chown system system /data/misc/sensors
    restorecon /data/misc/sensors

service knuckle /system/bin/sensors_qcom
    class late_start
    user system
    group system

on boot
    chown system system /sys/class/leds/torch-light0/brightness
    chown system system /sys/class/leds/torch-light1/brightness
    chmod 0664 /sys/class/leds/torch-light0/brightness
    chmod 0664 /sys/class/leds/torch-light1/brightness
    swapon_all fstab.qcom

