on early-boot
    # Support legacy paths
    #symlink /sdcard /mnt/sdcard
    #symlink /storage/sdcard0 /sdcard
    symlink /storage/self/primary /storage/sdcard0

on early-boot
    # Update dm-verity state and set partition.*.verified properties
    verity_update_state

on early-boot
    start hwemerffu
#on boot
#    start hw_diag_server

# for mini dump
on property:persist.sys.ssr.enable_ramdumps=2
    write /sys/module/subsystem_restart/parameters/enable_ramdumps 0
    mkdir /data/ramdump 770 system system
    start ss_ramdump

service libqmi_oem_main /vendor/bin/libqmi_oem_main
    class main
    seclabel u:r:libqmi_oem_main:s0

# set primary sd directory
service preparesdservice /system/bin/vdc volume storagetosd
   class main
   disabled
   oneshot

on property:persist.sys.primarysd=*
   start preparesdservice

service storage_info /vendor/bin/storage_info
    class late_start
    user root
    group system wakelock

on init
# add for power engine
    mkdir /dev/frz
    mount cgroup none /dev/frz freezer

    restorecon      /sys/kernel/set_hmp_thresholds/policy
    restorecon      /sys/class/graphics/fb0/lcd_cabc_mode
    restorecon      /sys/class/leds/torch/flash_thermal_protect
    restorecon      /sys/class/hw_power/charger/charge_data/iin_thermal
    restorecon      /sys/devices/qcom,huawei_charger/iin_thermal

    mkdir /dev/frz/aware_frozen
    chmod 0660 /dev/frz/aware_frozen
    chown root root /dev/frz/aware_frozen

#cpuset config begin
    # Create cgroup mount points for process groups
    mkdir /dev/cpuctl
    mount cgroup none /dev/cpuctl cpu
    chown system system /dev/cpuctl
    chown system system /dev/cpuctl/tasks
    chmod 0666 /dev/cpuctl/tasks
    write /dev/cpuctl/cpu.shares 1024
    write /dev/cpuctl/cpu.rt_runtime_us 800000
    write /dev/cpuctl/cpu.rt_period_us 1000000

    mkdir /dev/cpuctl/limit
    chown system system /dev/cpuctl/limit/tasks
    chmod 0644 /dev/cpuctl/limit/tasks
    # 5.0 %
    write /dev/cpuctl/limit/cpu.shares 52
    write /dev/cpuctl/limit/cpu.rt_runtime_us 800000
    write /dev/cpuctl/limit/cpu.rt_period_us 1000000

    # sets up initial cpusets for ActivityManager
    mkdir /dev/cpuset
    mount cgroup none /dev/cpuset cpuset,cpuset_noprefix
    mount cgroup none /dev/cpuset remount cpuset,blkio,cpuset_noprefix

    # this ensures that the cpusets are present and usable, but the device's
    # init.rc must actually set the correct cpus
    mkdir /dev/cpuset/foreground
    write /dev/cpuset/foreground/cpus 0-7
    write /dev/cpuset/foreground/mems 0
    mkdir /dev/cpuset/foreground/boost
    write /dev/cpuset/foreground/boost/cpus 0-7
    write /dev/cpuset/foreground/boost/mems 0
    mkdir /dev/cpuset/background
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/background/mems 0

    # system-background is for system tasks that should only run on
    # little cores, not on bigs
    # to be used only by init, so don't change system-bg permissions
    mkdir /dev/cpuset/system-background
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/system-background/mems 0

    mkdir /dev/cpuset/top-app
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/top-app/mems 0

    # change permissions for all cpusets we'll touch at runtime
    chown system system /dev/cpuset
    chown system system /dev/cpuset/foreground
    chown system system /dev/cpuset/foreground/boost
    chown system system /dev/cpuset/background
    chown system system /dev/cpuset/system-background
    chown system system /dev/cpuset/top-app
    chown system system /dev/cpuset/tasks
    chown system system /dev/cpuset/foreground/tasks
    chown system system /dev/cpuset/foreground/boost/tasks
    chown system system /dev/cpuset/background/tasks
    chown system system /dev/cpuset/system-background/tasks
    chown system system /dev/cpuset/top-app/tasks

    # set system-background to 0775 so SurfaceFlinger can touch it
    chmod 0775 /dev/cpuset/system-background

    chmod 0664 /dev/cpuset/foreground/tasks
    chmod 0664 /dev/cpuset/foreground/boost/tasks
    chmod 0664 /dev/cpuset/background/tasks
    chmod 0664 /dev/cpuset/system-background/tasks
    chmod 0664 /dev/cpuset/top-app/tasks
    chmod 0664 /dev/cpuset/tasks

    # vip is for vip tasks
    mkdir /dev/cpuset/vip
    write /dev/cpuset/vip/cpus 0-7
    write /dev/cpuset/vip/mems 0
    chown system system /dev/cpuset/vip
    chown system system /dev/cpuset/vip/tasks
    chmod 0664 /dev/cpuset/vip/tasks
#cpuset config end


service inotifywait /vendor/bin/inotifywait -rm -e modify -e attrib -e close_write -e moved_to -e moved_from -e move -e move_self -e create -e delete -e delete_self -i "%Y/%m/%d %H:%M" -n "%T %w%f %e" -o /log/inotify.log /system
    class late_start
    user system
    group system
    oneshot
    disabled

service usb_update_sh /vendor/bin/sh /vendor/etc/usb_update_daemon.sh
    class main
    disabled
    seclabel u:r:usb_update:s0

on property:sys.boot_completed=1 && property:ro.runmode=normal
    start inotifywait

service teecd /vendor/bin/teecd
    class core
    user root
    group root readproc
    seclabel u:r:tee:s0

#on property:persist.sys.huawei.debug.on=1
#    setprop systeminfo.enable true

#service systeminfo /system/bin/systeminfo
#    class main
#    disabled
#    seclabel u:r:systeminfo:s0
#    oneshot

#on property:systeminfo.enable=true
#    start systeminfo

#on property:systeminfo.enable=false
#    stop systeminfo

service ddrtest /vendor/bin/do_ddrtest
    user root
    disabled
    oneshot

service stop_ddrtest /vendor/bin/do_ddrtest
    user root
    disabled
    oneshot

service thermal-daemon /vendor/bin/thermal-daemon
    class main
    user system
    group system
    seclabel u:r:thermal-daemon:s0

service fcs /vendor/bin/fcs
    class main
    disabled

service fmd /vendor/bin/fmd
    class main
    user root
    group system log
    seclabel u:r:fmdserver:s0

on property:sys.wifitest.service=start
    stop commu_server
    start fcs

on property:debug.rt.ddr.test=1
    stop ddrtest
    start ddrtest
on property:debug.rt.ddr.test=2
    start ddrtest
on property:debug.rt.ddr.test=3
    start ddrtest
on property:debug.rt.ddr.test=4
    start stop_ddrtest
on property:debug.rt.ddr.test=5
    stop ddrtest
    start ddrtest
on property:debug.rt.ddr.test=6
    start ddrtest

on boot
    write /proc/sys/kernel/hung_task_panic 1
    write /proc/sys/kernel/hung_task_timeout_secs 120
    write /proc/hung_task/hw_monitor_list "whitelist,system_server,surfaceflinger"
    write /proc/hung_task/hw_enable "on"
    
    chmod 0660 /dev/hwlog_tag
    chown system system /dev/hwlog_tag


on post-fs
    chown system system /proc/uid_iostats/show_uid_iostats
    chmod 0440 /proc/uid_iostats/show_uid_iostats
    chown system system /proc/uid_iostats/uid_iomonitor_list
    chmod 0660 /proc/uid_iostats/uid_iomonitor_list
    chown system system /proc/uid_iostats/remove_uid_list
    chmod 0660 /proc/uid_iostats/remove_uid_list
    
    chown system system /proc/sys/kernel/sched_upmigrate
    chmod 0664 /proc/sys/kernel/sched_upmigrate
    chown system system /proc/sys/kernel/sched_downmigrate
    chmod 0664 /proc/sys/kernel/sched_downmigrate

    chmod 0664 /vendor/etc/usb_update_daemon.sh

service rf_test_srv /vendor/bin/rf_test_srv
    class core
    user root
    oneshot
    disabled

service hw_fsck_msdos /sbin/fsck_msdos_s
    user root
    group root
    disabled
    oneshot
    seclabel u:r:hw_fsck_sbin:s0

on property:ro.runmode=factory
    start rf_test_srv
    start fmd

on property:sys.check.usbupdate=start
    start usb_update_sh

on property:sys.check.usbupdate=stop
    stop usb_update_sh

on early-init
    mkdir /log 0775 system log
    chmod 0222 /sys/kernel/debug/tracing/trace_marker
    chmod 0222 /sys/kernel/tracing/trace_marker

on post-fs-data
    #run this shell for setting cpuset of 8917
    chmod 0110 /init.huawei.cpu_set.sh
    exec u:r:qti_init_shell:s0 -- /init.huawei.cpu_set.sh
    mkdir /data/log/ramdump 0775 system system

    #DTS2016101406299 wWX367520 20161029
    mkdir /data/apkpush
    chmod 0770 /data/apkpush
    chown system cache /data/apkpush
    restorecon_recursive /data/apkpush

    setprop vold.crypto_unencrypt_updatedir /data/update
    mkdir /data/update 0770 system cache
    restorecon /data/update

    mkdir /data/share 0770 media_rw media_rw
    chown media_rw media_rw /data/share
    restorecon_recursive /data/share

    #DTS2016103106924 wWX367520 20161107
    mkdir /data/cota
    chmod 0775 /data/cota
    chown system system /data/cota
    restorecon_recursive /data/cota

    mkdir /data/cota/cloud
    chmod 0770 /data/cota/cloud
    chown system system /data/cota/cloud
    restorecon_recursive /data/cota/cloud

    chown system system /sys/class/kgsl/kgsl-3d0/max_gpuclk
    chmod 0664 /sys/class/kgsl/kgsl-3d0/max_gpuclk
    chown system system /sys/class/kgsl/kgsl-3d0/devfreq/min_freq
    chmod 0664 /sys/class/kgsl/kgsl-3d0/devfreq/min_freq

    mkdir /data/log/reliability/xcollie
    chown system log /data/log/reliability/xcollie
    chmod 2775 /data/log/reliability/xcollie
    restorecon_recursive /data/log/reliability/xcollie

    mkdir /data/log/modem_crash
    chmod 0755 /data/log/modem_crash
    chown root system /data/log/modem_crash

    mkdir /log/storage
    chmod 0770 /log/storage
    chown root system /log/storage
    restorecon_recursive /log/storage

service defragd /system/vendor/bin/defragd
    class late_start

on property:init.svc.zygote=stopped
    stop defragd

on property:init.svc.zygote=running && property:sys.userdata_is_ready=1
    start defragd

on property:sys.userdata_is_ready=1
    exec u:r:blkcginit:s0 root root -- /vendor/bin/sh /vendor/etc/blkcg_init.sh 0 0

on property:init.svc.per_mgr=running
    start per_proxy

on property:sys.shutdown.requested=*
    stop per_proxy

service check_root /vendor/bin/check_root
    user root
    group radio system
    oneshot
    disabled
    seclabel u:r:check_root:s0

on property:ro.runmode=normal && property:ro.image=bootimage && property:sys.boot_completed=1
    start check_root

## Dubai daemon definition
service dubaid /system/bin/dubaid
    class main
    user root
    group system
