on boot
    chown system system /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/graphics/fb0/inversion_mode
    chown system system /sys/class/graphics/fb0/panel_status
    chown system system /sys/class/graphics/fb0/panel_info
    chown system system /sys/class/graphics/fb0/lcd_inversion_mode
    chown system system /sys/class/graphics/fb0/lcd_check_reg
    chown system system /sys/class/graphics/fb0/lcd_checksum
    chown system system /sys/class/graphics/fb0/lcd_model
    chown system system /sys/class/graphics/fb0/lcd_cabc_mode
    chown system system /sys/class/graphics/fb0/lcd_scan_mode
    chown system system /sys/class/graphics/fb0/lcd_dynamic_checksum
    chown system system /sys/class/graphics/fb0/lcd_ic_color_enhancement_mode
    chown system system /sys/class/graphics/fb0/lcd_sleep_ctrl
    chown system system /sys/class/graphics/fb0/lcd_lp2hs_mipi_check
    chown system system /sys/class/graphics/fb0/lcd_bist_check
    chown system system /sys/class/graphics/fb0/lcd_mipi_detect
    chown system system /sys/class/graphics/fb0/lcd_hkadc
    chown system system /sys/class/graphics/fb0/lcd_voltage_enable
    chown system system /sys/class/graphics/fb0/amoled_pcd_errflag_check
    chown system system /sys/class/graphics/fb0/amoled_acl
    chown system system /sys/class/graphics/fb0/amoled_vr_mode
    chown system system /sys/class/graphics/fb0/amoled_hbm
    chown system system /sys/class/graphics/fb0/lcd_support_mode
    chown system system /sys/class/graphics/fb0/lcd_comform_mode
    chown system system /sys/class/graphics/fb0/lcd_cinema_mode
    chown system system /sys/class/graphics/fb0/lcd_support_checkmode
    chown system system /sys/class/graphics/fb0/led_rg_lcd_color_temperature
    chown system system /sys/class/graphics/fb0/lcd_ce_mode
    chown system system /sys/class/graphics/fb0/effect_al
    chown system system /sys/class/graphics/fb0/effect_ce
    chown system system /sys/class/graphics/fb0/effect_bl
    chown system system /sys/class/graphics/fb0/effect_bl_enable
    chown system system /sys/class/graphics/fb0/effect_metadata
    chown system system /sys/class/graphics/fb0/effect_available
    chown system system /sys/class/graphics/fb0/gamma_dynamic
    chown system system /sys/class/graphics/fb0/2d_sharpness
    chown system system /sys/class/graphics/fb0/lcd_acm_state
    chown system system /sys/class/graphics/fb0/lcd_gmp_state
    chown system system /sys/class/graphics/fb0/sbl_ctrl
    chown system system /sys/class/graphics/fb0/lcd_color_temperature
    chown system system /sys/class/graphics/fb0/frame_count
    chown system system /sys/class/graphics/fb0/frame_update
    chown system system /sys/class/graphics/fb0/mipi_dsi_bit_clk_upt
    chown system system /sys/class/graphics/fb0/lcd_fps_scence
    chown system system /sys/class/graphics/fb0/alpm_function
    chown system system /sys/class/graphics/fb0/alpm_setting
    chown system system /sys/class/graphics/fb0/lcd_func_switch
    chown system system /sys/class/graphics/fb0/lcd_test_config
    chown system system /sys/class/graphics/fb0/lv_detect
    chown system system /sys/class/graphics/fb0/current_detect
    chown system system /sys/class/leds/lcd-backlight/max_brightness